.Container {
  background-color: #DBE4EE;
  min-height: 100vh;
}

.Title {
  font-size: 30px;
  line-height: 36px;
  color: #054A91;
}

.FormCard {
  /*
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  */
  min-height: 100vh;
  width: 100%;
  border-radius: 0;
}

.CustomerFormInput {
  margin-bottom: 10px;
}

.ButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ButtonsContainer button:last-of-type {
  margin-left: 21px;
}

@media (min-width: 801px) {
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .FormCard {
    width: 50%;
    min-height: auto;
    border-radius: 24px;
  }
}